{% extends 'base.html.twig' %}

{% block title %}C.K DevWeb - À propos{% endblock %}

{% block body %}
    <main id="about-main-container">
        <header class="main-header">
            <h1>À propos</h1>
        </header>
        <section>
            <h2>Mon parcours</h2>
            <img class="title-underline" src="{{ asset('assets/medias/images/sprites/title-underline.webp') }}" alt="">
            <article>
                <h3>Explorations multiples</h3>
                <img src="{{ asset('assets/medias/images/languages.webp') }}" alt="">
                <br>
                <br>
                <p>
                    Mon cheminement dans le domaine du développement web est marqué par <strong>une exploration variée et
                        approfondie de multiples langages</strong> informatiques et la création de diverses applications.
                    Cette exploration, menée avec curiosité et détermination, m'a permis de forger <strong>un socle solide de
                        compétences techniques et de créativité.</strong> Aujourd'hui, en tant que professionnel du web, je canalise
                    cette riche expérience pour me <strong>spécialiser dans la création de solutions web innovantes et sur mesure</strong>,
                    répondant aux besoins spécifiques de chaque projet.
                </p>
            </article>
            <article>
                <h3>Diplômé full-stack</h3>
                <p>
                    Diplômé <strong>full-stack de niveau 5</strong>, j'ai affiné mes compétences en développement web, acquérant une solide maîtrise des langages clés comme <strong>HTML, CSS, PHP, JavaScript, ainsi que la
                        gestion des bases de données avec SQL</strong>. Cette formation m'a également permis de développer une
                    compréhension approfondie des aspects techniques et créatifs du développement web, tout en renforçant
                    mes <strong>compétences en responsive design et en création d'API's</strong>.
                </p>
            </article>
            <article>
                <h3>Gestion de base de données</h3>
                <img src="{{ asset('assets/medias/images/bdd-gestion-a.webp') }}" alt="">
                <p>
                    De plus, pour mon examen de fin de formation, j'ai créé un site professionnel fictif intégrant la
                    <strong>gestion de base de données</strong> et des aspects de <strong>sécurité</strong>, illustrant ainsi ma capacité à gérer des <strong>projets
                        complexes</strong> et à assurer leur <strong>fonctionnement optimal</strong> sur divers appareils et plateformes.
                </p>
            </article>
            <article>
                <h3>Utilisation de CMS, amélioration UX/UI</h3>
                <p>
                    Un exemple concret de mon travail est <strong>la refonte du site de la naturopathe Émilie Morel</strong>, accessible ici
                    : <a href="https://emiliemorelnaturopathe.fr">www.emiliemorelnaturopathe.fr</a>. Ce projet a impliqué la
                    migration du site depuis WordPress.com vers <strong>WordPress.org</strong>, l'<strong>amélioration de l'expérience utilisateur
                        (UX) et de l'interface utilisateur (UI), l'optimisation du référencement, ainsi que l'ajout de
                        fonctionnalités</strong> pour faciliter la prise de rendez-vous et le contact. Ce fut une expérience
                    enrichissante qui a renforcé ma capacité à transformer les besoins des clients en solutions web
                    efficaces et élégantes.
                </p>
            </article>
            <article>
                <h3>Pour conclure</h3>
                <p>
                    En somme, mon parcours est celui d'un développeur web dévoué, <strong>toujours en quête de nouvelles façons
                        d'innover et de répondre aux défis technologiques actuels</strong>. Ma mission est de fournir des solutions web
                    qui ne sont pas seulement fonctionnelles, mais aussi esthétiquement plaisantes et intuitives pour
                    l'utilisateur final.
                </p>
            </article>
        </section>
        <div class="separator"></div>
        <section>
            <h2>Ma philosophie en développement web</h2>
            <img class="title-underline" src="{{ asset('assets/medias/images/sprites/title-underline.webp') }}" alt="">
            <article>
                <h3>Présentation</h3>
                <p>
                    Ma philosophie en développement web repose sur des principes clés qui guident chacun de mes projets : la
                    sécurité, l'accessibilité, le responsive design, ainsi qu'une attention particulière portée à
                    l'expérience utilisateur (UX), l'interface utilisateur (UI) et l'esthétique globale.
                </p>
            </article>
            <article>
                <h3>La sécurité</h3>
                <img src="{{ asset('assets/medias/images/security-shield.webp') }}" alt="">
                <p>
                    La sécurité est au cœur de ma démarche de développement. Dans un environnement numérique où
                    les menaces évoluent constamment, garantir la sécurité des données et la protection des utilisateurs est
                    une priorité absolue. Je m'engage à construire des sites robustes et sécurisés, où la confidentialité et
                    l'intégrité des données sont préservées.
                </p>
            </article>
            <article>
                <h3>L'accessibilité</h3>
                <p>
                    Je crois fermement qu'un site web de qualité doit être accessible à tous, quelles que
                    soient les capacités ou les technologies utilisées par les internautes. Mon objectif est de créer des
                    expériences web inclusives, où chaque utilisateur peut naviguer facilement et obtenir l'information ou
                    le service recherché.
                </p>
            </article>
            <article>
                <h3>Le responsive Design</h3>
                <img src="{{ asset('assets/medias/images/responsive-design-a.webp') }}" alt="">
                <p>
                    Un site doit être esthétiquement attrayant et fonctionnel sur tous les appareils. Je
                    m'attache à développer des sites qui offrent une expérience utilisateur fluide et cohérente, que ce soit
                    sur un ordinateur de bureau, une tablette ou un smartphone.
                </p>
            </article>
            <article>
                <h3>L'UX et l'UI</h3>
                <img src="{{ asset('assets/medias/images/UIUX.webp') }}" alt="">
                <p>
                    L'expérience et l'interface utilisateur sont au centre de ma conception. Un design attrayant
                    doit aller de pair avec une navigation intuitive. Je m'efforce de créer des interfaces qui non seulement
                    captivent visuellement, mais facilitent également l'interaction et améliorent l'expérience globale de
                    l'utilisateur.
                </p>
            </article>
            <article>
                <h3>Le design</h3>
                <p>
                    L'esthétique n'est pas qu'une question de beauté, c'est un élément clé de la fonctionnalité. Un
                    bon design communique, engage et simplifie l'expérience utilisateur. Je suis passionné par la création
                    de designs qui ne sont pas seulement beaux, mais qui renforcent également l'identité de la marque et la
                    narration du site.
                </p>
            </article>
            <article>
                <h3>Pour conclure</h3>
                <p>
                    Cette approche globale, centrée sur la sécurité, l'accessibilité, le responsive design, l'UX/UI et le
                    design, me permet de créer des solutions web qui sont non seulement techniquement irréprochables, mais
                    aussi agréables à utiliser.
                </p>
            </article>
        </section>
    </main>
{% endblock %}
