<header class="navbar-header">
    <a href="{{ path('app_homepage') }}">
        <div class="mark">
            <img width="64" height="64" alt="Logo de C.K DevWeb avec des motifs de vagues stylisées en bleu et blanc évoquant un thème aquatique" src="{{ asset('assets/medias/images/logos/Logo-trnsprt.png') }}" class="logo"/>
            <span class="compagny-name">DevWeb</span>
        </div>
    </a>
    <button id="button-burger">Menu</button>
    <nav>
        <ul id="menu-burger" class="scaleY-down">
            <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('app_services') }}">Services</a></li>
            <li><a href="{{ path('app_prices') }}">Tarifs</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a href="{{ path('app_about') }}">À propos</a></li>

        </ul>
    </nav>
</header>

<script type="module" src="{{ asset('assets/js/mains/header.min.js') }}"></script>