<header class="navbar-header">
    <!-- Navigation -->
    <a href="/">
        <div class="mark">
            <img width="64" height="64" alt="Logo de CKdevweb avec des motifs de vagues stylisées en bleu et blanc évoquant un thème aquatique" src="{{ asset('assets/medias/images/logos/CKdevweb-Logo.webp') }}" class="logo"/>
            <span class="compagny-name">devweb</span>
        </div>
    </a>
    <button id="burger-button">Menu</button>
    <nav>
        <ul id="burger-menu" class="hidden">
            <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('app_services') }}">Services</a></li>
            <li><a href="{{ path('app_prices') }}">Tarifs</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a href="{{ path('app_techfocus') }}">Focus Technique</a></li>
            <li><a href="{{ path('app_about') }}">À propos</a></li>

        </ul>
    </nav>
</header>

{#<script type="module" src="{{ asset('assets/js/header.js') }}"></script>#}